# Webscrapping from https://50style.pl/

Let download prices and names all new products from https://50style.pl/ website

In [1]:
# download tool to avoid 'access denied' on the website
#pip install cfscrape

Collecting cfscrapeNote: you may need to restart the kernel to use updated packages.

  Downloading cfscrape-2.1.1-py3-none-any.whl (12 kB)
Requirement already satisfied: requests>=2.6.1 in c:\users\dawid\anaconda3\lib\site-packages (from cfscrape) (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\dawid\anaconda3\lib\site-packages (from requests>=2.6.1->cfscrape) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dawid\anaconda3\lib\site-packages (from requests>=2.6.1->cfscrape) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\dawid\anaconda3\lib\site-packages (from requests>=2.6.1->cfscrape) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dawid\anaconda3\lib\site-packages (from requests>=2.6.1->cfscrape) (2020.12.5)
Installing collected packages: cfscrape
Successfully installed cfscrape-2.1.1

In [115]:
import cfscrape
from bs4 import BeautifulSoup
import requests
from lxml import html
import pandas as pd
import re

In [479]:
# sample link 
url = 'https://50style.pl/nowosci?page=2'

In [480]:
# initilizing scraper to get data blocked on the website
scraper = cfscrape.create_scraper()

In [481]:
# get website content  
content = scraper.get(url).text

In [482]:
# parse text to html format
tree = html.fromstring(content)

In [483]:
# get the names of proucts
xpath_selector = '/html/body/main/div/div[2]/div[3]/div[2]/div/div/div/div/div/a/text()'
products = tree.xpath(xpath_selector)

# clean our list
products_clean = []

for s in products:
    products_clean.append(re.sub(r'[\t\n ]+', ' ', s).strip())
    
products_clean

['UP8 SKARPETY ŚWIĄ...',
 'CHAMPION NELA',
 'UP8 TIFI',
 'UP8 SKARPETY ŚWIĄ...',
 'PUMA NIEVE BOOT W...',
 'PUMA NIEVE BOOT W...',
 'UMBRO KURTKA ZIMO...',
 'UMBRO KURTKA ZIMO...',
 'UMBRO KURTKA ZIMO...',
 'PUMA KURTKA ESS P...',
 'VANS MN RANGE',
 'UP8 KURTKA ZIMOWA...',
 'UMBRO KURTKA ZIMO...',
 'UP8 KURTKA ZIMOWA...',
 'UMBRO KURTKA ZIMO...',
 'LOTTO KURTKA ZIMO...',
 'UMBRO KURTKA ZIMO...',
 'UMBRO KURTKA ZIMO...',
 'LOTTO KURTKA ZIMO...',
 'UP8 KURTKA ZIMOWA...',
 'LOTTO KURTKA ZIMO...',
 'LOTTO KURTKA ZIMO...',
 'UP8 KURTKA ZIMOWA...',
 'UP8 KURTKA ZIMOWA...',
 'LOTTO KURTKA ZIMO...',
 'UP8 KURTKA ZIMOWA...',
 'ADIDAS KURTKA ESS...',
 'ADIDAS EQ19 RUN W...',
 'ADIDAS GRAND COUR...',
 'ADIDAS GRAND COUR...',
 'VANS MN FILMORE H...',
 'VANS MN WARD VANS...',
 'VANS MN FILMORE H...',
 'VANS YT FILMORE H...',
 'VANS MY FILMORE H...',
 'VANS MY FILMORE H...',
 'ADIDAS EQ19 RUN W...',
 'VANS YT WARD VANS...',
 'VANS YT RANGE EXP...',
 'VANS MY FILMORE H...',
 'ADIDAS RETROVULC ...',
 'ADIDAS RETROVULC ...',
 'REEBOK ROYAL BB45...',
 'ADIDAS ENTRAP MID...',
 'ADIDAS HOOPS MID ...',
 'UMBRO YUKI II',
 'ADIDAS OWNTHEGAME...',
 'ADIDAS OWNTHEGAME...',
 'ADIDAS HOOPS MID ...',
 'ADIDAS TERREX SWI...',
 'ADIDAS HOOPS MID ...',
 'UP8 NEVOS',
 'UP8 NEVOS',
 'UP8 BOKSERKI ŚWIĄ...',
 'NIKE DEFY ALL DAY',
 'ADIDAS SPODNIE M ...',
 'ADIDAS CZAPKA ZIM...',
 'CHAMPION PUMP',
 'REEBOK ROYAL TECH...',
 'ADIDAS ENTRAP']

In [484]:
# get the prices
xpath_prices= '/html/body/main/div/div[2]/div[3]/div[2]/div/div/div/div/div/p[1]/text()'
prices = tree.xpath(xpath_prices)
prices

[' 44,99 zł',
 ' 249,99 zł',
 ' 179,99 zł',
 ' 44,99 zł',
 ' 249,99 zł',
 ' 249,99 zł',
 ' 229,99 zł',
 ' 279,99 zł',
 ' 249,99 zł',
 ' 369,99 zł',
 ' 399,99 zł',
 ' 249,99 zł',
 ' 279,99 zł',
 ' 229,99 zł',
 ' 299,99 zł',
 ' 199,99 zł',
 ' 249,99 zł',
 ' 249,99 zł',
 ' 229,99 zł',
 ' 229,99 zł',
 ' 229,99 zł',
 ' 229,99 zł',
 ' 199,99 zł',
 ' 199,99 zł',
 '259,99 zł',
 ' 249,99 zł',
 ' 379,99 zł',
 ' 269,99 zł',
 ' 249,99 zł',
 ' 249,99 zł',
 ' 339,99 zł',
 ' 339,99 zł',
 ' 339,99 zł',
 ' 219,99 zł',
 ' 239,99 zł',
 ' 219,99 zł',
 ' 269,99 zł',
 ' 239,99 zł',
 ' 239,99 zł',
 ' 259,99 zł',
 ' 269,99 zł',
 ' 269,99 zł',
 ' 249,99 zł',
 ' 269,99 zł',
 ' 169,99 zł',
 ' 159,99 zł',
 ' 199,99 zł',
 ' 199,99 zł',
 ' 179,99 zł',
 ' 399,99 zł',
 ' 179,99 zł',
 ' 159,99 zł',
 ' 159,99 zł',
 ' 49,99 zł',
 ' 259,99 zł',
 ' 179,99 zł',
 ' 79,99 zł',
 ' 239,99 zł',
 ' 249,99 zł',
 ' 269,99 zł']

In [485]:
# get the last page
xpath_last_page = '/html/body/main/div/div[2]/div[4]/form/div/div[3]/nav/span/text()'
last_page = tree.xpath(xpath_last_page)
int(str(sorted(last_page)[-1]).split()[-1])

7

In [489]:
# let automate getting data from all website, containing "Nowosci" from website

# empty dataframe to collect data
datatable= pd.DataFrame({"Names" : [],
             "Prices" :[]})

# initilizing scraper to get data blocked on the website
scraper = cfscrape.create_scraper()

for num_page in range(1,1000):  # random big number to keep iterate until we reach limit
    #our website with all possible subsites 
    url =  'https://50style.pl/nowosci?page='+ str(num_page)
    
    # get website content  
    content = scraper.get(url).text
    
    # parse text to html format
    tree = html.fromstring(content)

    # get the names from website
    xpath_selector = '/html/body/main/div/div[2]/div[3]/div[2]/div/div/div/div/div/a/text()'
    products = tree.xpath(xpath_selector)

    # clean our list
    products_clean = []

    for s in products:
        products_clean.append(re.sub(r'[\t\n ]+', ' ', s).strip())
    
    # get the prices
    xpath_prices= '/html/body/main/div/div[2]/div[3]/div[2]/div/div/div/div/div/p[1]/text()'
    prices = tree.xpath(xpath_prices)
    prices
    
    # join names and prices together
    for i in range(0, len(products)):
        datatable = datatable.append({"Names" : products_clean[i],
                    "Prices" : prices[i]},
                    ignore_index = True)
    
    # check if it is last page
    xpath_last_page1 = '/html/body/main/div/div[2]/div[4]/form/div/div[3]/nav/span/text()'
    last_page1 = tree.xpath(xpath_last_page1)
    last = int(str(sorted(last_page1)[-1]).split()[-1])

    if num_page == last:
        break

In [490]:
datatable

                    Names      Prices
0    ADIDAS TERREX HYP...   249,99 zł
1         ADIDAS FROZETIC   379,99 zł
2         ADIDAS FROZETIC   329,99 zł
3    ADIDAS OWNTHEGAME...   269,99 zł
4    NIKE COURT BOROUG...   259,99 zł
..                    ...         ...
404  VANS WM FILMORE H...   339,99 zł
405      NIKE VICTORI ONE    99,99 zł
406          VANS MN WARD   299,99 zł
407      NIKE VICTORI ONE   139,99 zł
408          NIKE KAWA SE   109,99 zł

[409 rows x 2 columns]